<!DOCTYPE HTML>
<html>
<head>
  <script src="http://backbonejs.org/test/vendor/underscore.js"></script>
  <script src="http://backbonejs.org/test/vendor/jquery.js"></script>
  <script src="http://backbonejs.org/docs/js/jquery.lazyload.js"></script>
  <script src="http://backbonejs.org/backbone.js"></script>
</head>
<body>
  <div id="page"></div>
  <script type="text/template" id="templateSongs">
    <div class="songsList">
        <span class="auth"><%= songAuthor %></span>
        <span class="len"><%= songLength %></span>
        <span class="nrLis"><%= songListened %></span>
        <span class="titleSong"><%= songTitle %></span>
    </div>
  </script>

  <script type="text/javascript">
      var song = [
        {
          songAuthor: "Smiley",
          songLength: 74,
          songListened: 82,
          songTitle: "love love enemies love"
        },
        {
          songAuthor: "Dr. Dre",
          songLength: 186,
          songListened: 78,
          songTitle: "love love enemies pierdut"
        },
        {
        songAuthor: "Andra",
        songLength: 303,
        songListened: 94,
        songTitle: "ea money pierdut ea"
      }
      ];

var SongModel = Backbone.Model.extend({
  defaults: {
    songAuthor: "autor",
    songLength: 00,
    songListened: 00,
    songTitle: "titlu nou"

}
});
var SongCollection = Backbone.Collection.extend({
  model: SongModel
});

var PageView = Backbone.View.extend ({
  renderTemplate: function (selectorString, options) {
    var templateText = document.querySelector(selectorString).innerText;
    var compiled = _.template(templateText);

    if (options != null) {
      return compiled(options);
    }

    return compiled();
  }
});

var SongView = PageView.extend({
  template: function (values) {
    return this.renderTemplate('#templateSongs', values);
  },
  render: function () {
    this.$el.html(this.template(this.model.attributes));
  }

});

var varTest = new SongCollection();
 varTest.set(song);

  var pageView = new PageView({ el: $('#page'),varTest});
  pageView.render();


  </script>
</body>
</html>
