.page{
    background-image:url("../../core/assets/banner-app.jpg");
    background-size: cover;
    text-align: center;
    position: relative;
    padding: 15px;
    height: 500px;
}

.photo_top{
  vertical-align: top;
  float: left;
}

.search{
   margin-top: 10px;
   margin-left: 300px;
}

.search-bar{
  width: 1000px;
  height: 50px;
  opacity:0.4;
  filter:alpha(opacity=40);
  border-radius: 6px;
  display: inline-block;
  margin-left: -50px;

}

.join{
  text-align: center;
  width: 400ps;
}

.text_alb{
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  width: 400px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;

}
.text_alb_mare{
  font-size: 40px;
  font-weight: bold;
  color: #FFF;
  margin-top: 40px;
}

.text_alb_mic{
  font-size: 12px;
  color: #FFF;
  text-align:center;
  font-weight: bold;

}

.button1{
  display: inline-block;
  background-color: #00BFFF;
  border-radius: 4px;
  height:34px;
  width:150px;
  margin-left: 300px;

}

.button-green{
  background-color: #3CB371;
  border-radius: 6px;
  height:50px;
  width:250px;
  color: #FFF;
  font-size: 20px;

}

.contine-playlist{

  width: 300px;
  height: 200px;
  /*transition: all 1s linear;*/
  transition: 0.5px;
  /*margin-top: -40px;*/
}

/*.contine-playlist:hover{
  background-color: rgba(0, 0, 0, 0.5);
}*/

.pozz{
  width: 300px;
  height: 200px;
  /*transition: all 1s linear;*/
  transition: 0.5px;
}

.playlist{
  position: relative;
  display: inline-block;
  background-color: #FFF;
  height: 300px;
  width: 300px;
  border-collapse: collapse;
  border: 1px solid #B0E0E6;
  margin-right: 40px;
  /*transition: all 1s linear;*/
  transition: 0.5px;


}

.playlist:hover {
	/*width: 400px;
	height: 400px;*/
  box-shadow: 10px 10px 5px #888888;
  background-color: rgba(0, 0, 0, 0.3);

  transform: translate(0, -15px);
}

.text-gri {
   color: #808080;
  font-size: 15px;

}
.text-negru-mare{
  margin-top: -6px;
  color: #000;
  font-size: 20px;
}

.toate-playlisturile{
    display: inline-block;
    margin-top: -80px;
    position: relative;
    margin-left: -200px;
}

.bottom-page{
  position: relative;
  background-color: #FFF;
  text-align: center;
}

.footer{
  /*float: left;*/
  margin-top: 200px;
  display: block;
  margin-left: -1000px;
}

.playlist button{
  visibility: hidden;
  position: absolute;
  margin-top: -200px;
  margin-left: -80px;
}


.element-creator{
  background-color: #00BFFF;
  /*background-image: url("../../core/assets/play-icon.jpg");*/
  border-radius: 4px;
  height:34px;
  width:200px;
  color: #FFF;

}

.playlist:hover button{
   visibility: visible;
}


/*.lista-melodi{
  height: 0px;
  width: 600px;
  border-collapse: collapse;
  border: 1px solid #000;
  margin-bottom: -400px;
  background-color: #FFF;
}*/



.top-lista{
  display: inline-block;
  background-color: #DCDCDC;
  height: 150px;
  width: 600px;
}

.playlist-pozz{
  display: inline-block;
  height: 150px;
  margin-left: -350px;
}

.playlist-title{
   margin-top: -100px;
   margin-left: -20px;

}

.text-negru-playlist{
  color: #000;
  font-size: 30px;
  margin-left: 100px;
}

#theDiv{
  height: 600px;
  width: 600px;
  background-color: #FFF;
  border-collapse: collapse;
  border: 1px solid #000;
  visibility: hidden;
  position: absolute;
  margin-top: -600px;

}

.boxclose{
  width: 10px;
  height: 10px;
  margin-top: 50px;
}

.boxcolse: hover{
  width: 15px;
  height: 15px;
}
